* {
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.buttonNav {
    background-color: #5555FF;
    height: 30px;
    color: #FFF;
}

.txtContactWsp {
    margin: 5px;
    font-size: 20px;
}

.imgLogo {
    margin-top: 10px;
    position: absolute;
    height: 65px;
    background-color: #5555AA;
}

.maps-iframe {
    border: 3px solid black;
    justify-content: center;
    margin: 15px 60px 0 100px;
}

.maps-h3 {
    justify-content: center;
    display: inline;
    margin: 250px;
    padding: 20px;
}

#submit {
    background-color: #00AA00;
    color: #FFFFFF;
}

#reset {
    background-color: #FF3300;
    color: #FFFFFF;
}

#submit:hover,
#reset:hover {
    background-color: #5555AA;
    height: 25px;
    box-shadow: 0 0 20px #5562ea,
        0 0 50px #5562ea,
        0 0 85px #5562ea,
        0 0 125px #5562ea;
}


section {
    background-color: #FFF;
}

header {
    background-color: #88F;
    height: 120px;


}

footer {
    background-color: #88F;
    height: 45px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 110px;
}

h2{
    color: black;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
}

h3{
    color: black;
    font-weight: bold;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td,
th {
    padding: 5px;
}

th {
    text-align: center;
}